.container {
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  text-align: left;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 97%;
  background-color: white;
}

.headerBox {
  display: flex;
  justify-content: space-between;
}

.header {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* get rid of this maybe */
.inputBox {
  font-size: large;
  padding: 0px;
  width: 100%;
  height: 27.5px;
  border-style: none;
}