.container {
    border:black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-left: 26px;
    width: 660px;
    max-width: 95.8%;
    margin-left: 0px;
  }
  
  .headerBox {
    display: flex;
    justify-content: space-between;
  }
  
  .header {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  /* get rid of this maybe */
  .inputBox {
    border: none;
    outline: none;
    font-size:large;
    padding: 0px;
    width: 98%;
  }