.instructionBox {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 94%;
    height: fit-content;
    padding: 10px;
}

.instructionBox p {
    font-size: larger;
}