.navBar {
    background-color: var(--color-dark-blue);
    height: 10%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center; /* Vertically center the content */
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .title {
    color: white;
    font-size: 25px;
  }
  
  .logo {
    width: 75px;
    position: absolute;
    left: 2%;
  }