:root {
  --color-dark-blue: #111A31;
  --color-white: #F1F1F1;
  --color-blue: #B9DDE7;
  --color-orange: #F7D19F;
  --color-green: #5B9723;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2.75rem;
  width: 100%;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 5rem;
}

.inputField {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 0.625rem 0;
  width: 100%;
  font-size: 24px;
}

/* Styling for the select dropdown */
.inputField select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: black;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 100%;
  font-size: 24px;
  appearance: none;
  -webkit-appearance: none;
}

.inputField:focus {
  outline: none;
}

.submitBtn {
  display: inline-block;
  padding: 2rem 5rem;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}